span {
    color: orange;
}

section {
    padding-right: 20px;
}

button {
    border-radius: 30px;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 12px 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

#center {
    position: relative;
    left: 60px;
}

button:hover {
    background-color: #3a3833;
}

.container {
    position: absolute;
    text-align: left;
    color: rgb(0, 0, 0);
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

#cross-img:hover {
    size: larger;
    color: burlywood;
}

#home {
    background-image: url(images/gio-gix-r4oGH_91jrU-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.center {
    position: relative;
    left: 60px;
}

.nav-link:hover {
    color: #3a3833;
    font-size: larger;
    transition: 0.3s ease;
}