{% extends 'customer/layout.html' %}
{% load static %}

{% block body %}
<header class="home" style="margin-left: 20px;">
    <h1>E-Services</h1>
    <p>Best site to hire experts for your day-to-day work...</p>
    <img src="{% static 'customer/index.jpeg' %}" style="height: 200px; width: 350px; margin-left: 40px;">
    <img src="{% static 'customer/index7.png' %}" style="height: 200px; width: 350px; margin-left: 40px;">
    <img src="{% static 'customer/images8.png' %}" style="height: 200px; width: 350px; margin-left: 40px;">
    <img src="{% static 'customer/index9.jpeg' %}" style="height: 200px; width: 200px; margin-left: 40px;">

</header>


{% endblock %}